
@media (min-width: 1100px) {
.main__indent {
    padding-top: 10.5em;
    }
}

@media (min-width: 724px) {
.main-indent {
    padding-top: 10.5em;
    }
}

.main_indent {
    padding-top: 6.8775em;
}



.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #ff4917 !important;
    border-color: #ff4917;

    width: 184px;
    height: 58px;
}


#blurry_text {
     color: transparent;
   text-shadow: 0 0 2px rgba(0,0,0,0.5);

}

#nav-link {
    color: white;
}

.bg-light {
	background-color: #F2F2F2 !important;
}
#btn-services {
	border-radius: 1px !important;
	width: 100%;

}
#service-container:hover {
	border: 1px solid #212529 !important;
} 

.person {
	width: 100%;
    max-width: 296px;
    margin-left: auto;
    position: relative;
    
}

#person-inner::before {
	content: '';
    display: block;
    width: 234px;
    height: 330px;
    background: #ff4917;
    border: 1px solid #ff4917;
    
    position: absolute;
    top: -70px;
    left: -80px;
    
}

#person-inner {
	position: relative;
    z-index: 1;
}

#person-photo {
	position: relative;
    height: 360px;
}

.service-image {
	width: 100%;
    max-width: 364px;
    margin-left: auto;
    position: relative;
    
}

.footer-nav {
    font-size: 14px;
    
    list-style: none;
}

.footer-nav__item a {
    color: white;
}

#service-photo-inner::before {
	content: '';
    display: block;
    width: 234px;
    height: 330px;
    background: #ff4917;
    border: 1px solid #ff4917;
    
    position: absolute;
    top: -70px;
    right: -80px;
    
}

#stages {
    position: relative;
    z-index: 1;
}

#number {
    
}

#number-inner {
    position: relative;
}

#number::before {
    content: '';
    display: block;
    width: 3rem;
    height: 6rem;
    background: #ff4917;
   
    
    
    position: absolute;
    top: -10px;
    left: 13px;

    
}

#helper-photo-inner::before {
    content: '';
    display: block;
    width: 330px;
    height: 234px;
    background: #ff4917;
    border: 1px solid #ff4917;
    
    position: absolute;
    top: -70px;
    right: -80px;
    
}

#service-photo-inner {
	position: relative;
    z-index: 1;
}

#service-photo {
	position: relative;
    height: 360px;
}

#block-heading::before {
	content: '';
	width: 150px;
	height: 2px;
	background: #ff4917;
	position: absolute;

}

#phone-footer {
	display: inline-block;
    vertical-align: middle;
    margin-right: 4.25em;
    margin-bottom: 10px;

}

.accordion-header {
	text-align: center;
}

.accordion-button {
	display: inline-block;
	
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}

.fly-form {
	border-right: 1px solid #eff1f5;
    position: fixed;
    right: 0;
    top: 168px;
    left: auto;
    z-index: 120;
    background-color: #ff4917;
}

.carousel-screen {
    position: relative;  
    margin-top: 20px;
}

.carousel-content {
    width: 70%;
    height: 70%;
    overflow: auto;
    margin: auto;
    
    top: 0; left: 0; bottom: 0; right: 0;
}