<!DOCTYPE html>
<html>
  <head>
    <!--Start of Meta Information-->
    <title>IP Law</title>
    {{response.files.append(URL('static','css/style.css'))}}
    {{include 'web2py_ajax.html'}}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  </head>
    <!--End of Meta Information-->
  
  <body>
    <!--Start of nav description-->
    <div id="nav">
    <div class="my-top-bar">
      <div class="top-bar-left">
        <a href="{% url 'index' %}">Logo</a>
      </div>
      <div class="top-bar-right">
        <!--Button to open overlay navigation-->
        <button id="overlay-trigger" class="drop-down-trigger" onclick="overlayToggle(this)">
          <div>
            <span class="bar-1"></span>
            <span class="bar-2"></span>
            <span class="bar-3"></span>         
          </div>
        <span class="menu-title">Menu</span>
        </button>
      </div>
    </div>  
    <div class="my-top-contacts">
      <p>Call Us: <a href="#">+7 (917) 932 91 39</a></p>
      <p>Email: <a href="#">info@novaciapravo.ru</a></p>
    </div>
  </div>
  <!--The Overlay-->
  <div id="Nav-1" class="overlay">
    <div class="overlay-content">
      <a href="{% url 'index' %}">Home</a>
      <a href="{% url 'services' %}">Services</a>
      <a href="{% url 'about' %}">About</a>
      <a href="{% url 'contacts' %}">Contacts</a>
    </div>
  </div>
  <nav>
    <div id="B" class="drop-down">
      <a onclick="dropDownOverlay()">Services<i id="down-chevron" class="fas fa-chevron-down"></i></a>
      <div id="drop-down-menu-1">
        <ul>
          <li>
            <a href="#">Civil</a>
          </li>
          <li>
            <a href="#">Arbitration</a> 
          </li>
        </ul>
      </div>
      <a href="{% url 'about' %}">About us</a>
      <a href="{% url 'contacts' %}">Contacts</a>
    </div>
  </nav>
  <!--End of the nav description-->

  <section id="main" class=container>
    {{include}}
  </section>
  
    <!-- Footer -->
      <div class="my-footer">
        <footer>Copyright Information</footer>
        <div class="scroll-up-button">
          <button id="top"><i class="fas fa-arrow-up"></i></button>
        </div>
      </div>
    </div>
  </body>
</html>