{{extend 'layout.html'}}

{{block header}}

<div class="bg-dark text-secondary px-4 py-2 my-1 text-left" style="background-image: url('');">
  <div class="container">
    <div class="py-5">
        <h1 class="display-5 fw-bold text-white">Юридические услуги в Казани</h1>
        <div class="col-lg-12 ">
          <p class="fs-4 mb-4 text-white lead">Разовые и комлексные юридические услуги с гарантией результата.<br>
            Воспользуйтесь формой ниже для того, чтобы получить <strong style="color: #ff4917">бесплатную</strong> консультацию по Вашей проблеме</p>
            <form class="row g-3">
              <div class="form-floating col-sm-10">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" style="height: 100px; min-height: 60px; max-height: 150px;"  ></textarea>
                <label for="floatingTextarea">Опишите ситуацию</label>
              </div>
              
                <div class="form-floating col-sm-3 ">
                   <input type="text" class="form-control" placeholder="Leave a comment here" id="validationDefault01" required>
                   <label for="validationDefault01">Ваше имя</label>
                </div>
              <div class="form-floating col-sm-3">
                   <input type="tel" class="form-control" placeholder="Leave a comment here" id="validationDefault02" required>
                   <label class="form-label" for="validationDefault02">Ваш номер<label>
              </div>
              <div class="col">
                  <button class="btn btn-primary" type="submit">Оставить заявку</button>
              </div>
          </form>
              <p class="fs-5 mt-4 mb-0">Нет времени заполнять форму?</p>
              <p class="fs-5" >Свяжитесь с нами напрямую по номеру +7 (917) 937-77-37</p>
        </div>
    </div>
  </div>
</div>

<div class="container-fluid d-none d-sm-block my-5 py-3">
  <div class="row m-0" style="height: 135px;">
    <div class="position-relative top-0 start-50 translate-middle col-2" style="background-color: #fb5023; border-radius: 2px; border:2px solid #212529;">
          <img src="/Novaciapravo/static/images/group-icon.svg" alt="" style="padding: 10px;">
          <h5 style="color: white;">Достоверно о перспективах</h5>
          <p class="small">Курс посвящен конкретной проработке образа мышления, знаний и навыков агента, необходимых агенту на сегодняшнем рынке для создания предсказуемого повторяемого и прибыльного бизнеса</p>
    </div>
     <div class="position-relative top-0 start-50 translate-middle col-2" style="background-color: #fb5023; border-radius: 2px; border:2px solid #212529">
          <img src="/Novaciapravo/static/images/puzzle-piece-icon.svg" alt="" style="padding: 10px;">
          <h5 style="color: white;">Индивидуальная подход</h5> 
          <p class="small">Курс посвящен конкретной проработке образа мышления, знаний и навыков агента, необходимых агенту на сегодняшнем рынке для создания предсказуемого повторяемого и прибыльного бизнеса</p>
    </div>
    <div class="position-relative top-0 start-50 translate-middle col-2" style="background-color: #fb5023; border-radius: 2px; border:2px solid #212529">
          <img src="/Novaciapravo/static/images/rubles-icon.svg" alt="" style="padding: 10px;">
          <h5 style="color: white;">Гибкая ценовая политика</h5>
          <p class="small">Курс посвящен конкретной проработке образа мышления, знаний и навыков агента, необходимых агенту на сегодняшнем рынке для создания предсказуемого повторяемого и прибыльного бизнеса</p>
    </div>
  </div>
</div>

<div class="container d-md-none"> 
  <div class="row">
        <div class="col-6 align-self-center">
          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

          <h2>Heading</h2>
          <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
          <p><a class="btn btn-secondary" href="#">View details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

          <h2>Heading</h2>
          <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
          <p><a class="btn btn-secondary" href="#">View details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

          <h2>Heading</h2>
          <p>And lastly this, the third column of representative placeholder content.</p>
          <p><a class="btn btn-secondary" href="#">View details »</a></p>
        </div><!-- /.col-lg-4 -->
  </div>
</div>

<div class="container my-5">
  <div class="row">
      <div class="col-md-3">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
      </div>
      <div class="col-md-9">
        <h2 class="display-5 fw-bold my-0">Перечень предоставляемых услуг</h2>
        <span class="text-muted fs-3">Ознакомьтесь с полным списком по кнопке ниже</span>
        <p class="mt-4">Наша компания предоставляет профессиональные услуги юриста:</p>
        <ul class="mx-5">
          <li>юридическим лицам всех форм собственности</li>
          <li>индивидуальным предпринимателям</li>
          <li>физическим лицам</li>
        </ul>
        <div class="col m-5 px-2">
          <!--Кнопка должна переводить на страницу с услугами-->
            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">Полный список</button>
        </div>
      </div>

      <div class="offcanvas offcanvas-top" tabindex="1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title display-5 fs-2" id="offcanvasTopLabel">Юридические услуги</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <div class="offcanvas-body">
          <form class="d-flex my-5">
            <button class="btn btn-outline-success" type="submit">Найти</button>
            <input class="form-control me-2" type="search" placeholder="Поиск по юридическим услугам" aria-label="Search">
          </form>

          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary">Частным лицам</button>
            <button type="button" class="btn btn-primary">Юридическим лицам</button>
            <button type="button" class="btn btn-primary">Оформление документов</button>
          </div>

        </div>
      </div>
  </div>
</div>
{{end}}

<div class="row">
  <div class="col-md-12">
    {{if 'message' in globals():}}
    <h2>{{=message}}</h2>
    <p class="lead">{{=T('How did you get here?')}}</p>
    <ol style="word-wrap:break-word;">
      <li>{{=T('You are successfully running web2py')}}</li>
      <li>{{=XML(T('You visited the url %s', A(request.env.path_info,_href=request.env.path_info)))}}</li>
      <li>{{=XML(T('Which called the function %s located in the file %s',
        (A(request.function+'()',_href='#'),
        A('web2py/applications/%(application)s/controllers/%(controller)s.py' % request,
        _href=URL('admin','default','peek', args=(request.application,'controllers',request.controller+'.py'))))))}}</li>
      <li>{{=XML(T('The output of the file is a dictionary that was rendered by the view %s',
        A('web2py/applications/%(application)s/views/%(controller)s/index.html' % request,
        _href=URL('admin','default','peek',args=(request.application,'views',request.controller,'index.html')))))}}</li>
      <li>{{=T('You can modify this application and adapt it to your needs')}}</li>
    </ol>
    <div class="jumbotron jumbotron-fluid" style="padding:30px;word-wrap:break-word;">
      <div class="container center">
        <a class="btn btn-primary" href="{{=URL('admin','default','index')}}">
          <i class="fa fa-cog"></i>
          {{=T("admin")}}
        </a>
        <a class="btn btn-secondary" href="{{=URL('examples','default','index')}}">{{=T("Online examples")}}</a>
        <a class="btn btn-secondary" href="http://web2py.com">web2py.com</a>
        <a class="btn btn-secondary" href="http://web2py.com/book">{{=T('Documentation')}}</a>
        <a class="btn btn-secondary" href="{{=URL('default','api_get_user_email')}}">{{=T('API Example')}}</a>
        <a class="btn btn-secondary" href="{{=URL('default','grid/auth_user')}}">{{=T('Grid Example')}}</a>
        <a class="btn btn-secondary" href="{{=URL('default','wiki')}}">{{=T('Wiki Example')}}</a>
      </div>
    </div>
    {{elif 'content' in globals():}}
    {{=content}}
    {{else:}}
    {{=BEAUTIFY(response._vars)}}
    {{pass}}
  </div>
</div>



