{{extend 'layout.html'}}

{{block header}}

<div class="bg-dark text-secondary px-4 py-2 pb-5 text-left" style="background-image: url('');">
  <div class="container">
    <div class="py-5">
        <div id="target"></div>
        <h1 class="display-5 fw-bold text-white">Юридические услуги в Казани</h1>
        <div class="col-lg-12 ">
          <p class="fs-4 mb-4 text-white lead">Разовые и комлексные юридические услуги с гарантией результата.<br>
            Воспользуйтесь формой ниже для того, чтобы получить <strong style="color: #ff4917">бесплатную</strong> консультацию по Вашей проблеме</p>
            <form class="row g-3" id="myform">
              <div class="form-floating col-sm-10">
                <textarea class="form-control" name="form_text" placeholder="Leave a comment here" id="form_text" style="height: 60px; min-height: 60px; max-height: 150px;"></textarea>
                <label for="form_text">Опишите ситуацию</label>
              </div>
              
               <div class="form-floating col-sm-3 ">
                   <input type="text" name="name" class="form-control" placeholder="Leave a comment here" id="name" required>
                   <label for="name">Ваше имя</label>
                </div>
              <div class="form-floating col-sm-3">
                   <input type="tel" name="tel" class="form-control" placeholder="Leave a comment here" id="tel" required>
                   <label class="form-label" for="tel">Ваш номер<label>
              </div>
              <div class="col">
                  <button class="btn btn-primary" type="submit" id="">Оставить заявку</button>
                  <input type="submit" name="">
                  
                  {{=BEAUTIFY(request.vars)}}

                  
              </div>
          </form>
          <!--{{=LOAD('default', 'new_client.load', ajax=True)}}-->
              <p class="fs-5 mt-4 mb-0">Нет времени заполнять форму?</p>
              <p class="fs-5" >Свяжитесь с нами напрямую по номеру +7 (917) 937-77-37</p>
        </div>
    </div>
  </div>
</div>


<div class="container-fluid d-inline-flex d-none d-lg-block pt-5 bg-light" style="height: 200px;">
  <div class="row m-0 px-5 position-relative top-0 start-50 translate-middle d-flex flex-row-reverse" style="height: 250px;">
    <div class="col-2" style="background-color: #fb5023; border-radius: 2px; border:2px solid #212529; width: 300px;">
          <img src="/Novaciapravo/static/images/group-icon.svg" alt="" style="padding: 10px;">
          <h5 style="color: white;">Достоверно о перспективах</h5>
          <p class="small">Курс посвящен конкретной проработке образа мышления, знаний и навыков агента, необходимых агенту на сегодняшнем рынке для создания предсказуемого повторяемого и прибыльного бизнеса</p>
    </div>
     <div class="col-2" style="background-color: #fb5023; border-radius: 2px; border:2px solid #212529; width: 300px;">
          <img src="/Novaciapravo/static/images/puzzle-piece-icon.svg" alt="" style="padding: 10px;">
          <h5 style="color: white;">Индивидуальная подход</h5> 
          <p class="small">Курс посвящен конкретной проработке образа мышления, знаний и навыков агента, необходимых агенту на сегодняшнем рынке для создания предсказуемого повторяемого и прибыльного бизнеса</p>
    </div>
    <div class="col-2" style="background-color: #fb5023; border-radius: 2px; border:2px solid #212529; width: 300px;">
          <img src="/Novaciapravo/static/images/rubles-icon.svg" alt="" style="padding: 10px;">
          <h5 style="color: white;">Гибкая ценовая политика</h5>
          <p class="small">Курс посвящен конкретной проработке образа мышления, знаний и навыков агента, необходимых агенту на сегодняшнем рынке для создания предсказуемого повторяемого и прибыльного бизнеса</p>
    </div>
  </div>
</div>
<div class="bg-light py-5 d-none d-lg-block">
<div class="container">
  <h1 id="block-heading" class="display-5 fw-bold mb-5">Перечень предоставляемых услуг</h1>
  <div class="row">
    <div class="col-sm-3 my-5">
      <div class="person">
        <div>
          <div id="person-inner">
            <div id="person-photo">
              <img src="/Novaciapravo/static/images/person.jpg" class="img-thumbnail rounded-start" alt="..." style="height: ">
            </div>
          </div>
      </div>
      </div>
    </div>
    
    <!--
    <div class="col-sm-5 p-0">
      <div class="card mb-3 border border-dark" style="max-width: 540px;">
        <div class="card-header fw-bold">
           Наиболее востребованные услуги
        </div>
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/Novaciapravo/static/images/sample.png" class="img-thumbnail rounded-start" alt="..." style="height: ">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Представительство в арбитражном суде</h5>
              <p class="card-text">Наши юристы обеспечат подготовку доказательств и их юридическую силу, грамотно изложат аргументацию, четко сформируют вашу позицию в суде.<br> Защитим ваши интересы и добьемся нужного результата.</p> 
            </div>
          </div>
        </div>
      </div>
      <div class="card border border-dark" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/Novaciapravo/static/images/sample.png" class="img-thumbnail rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Подготовка юридических документов в Казани</h5>
              <p class="card-text">Наши юристы с обширным опытом судебной практики проанализируют ваш вопрос, подготовят для вас полный пакет документов, а также подскажут вам решение и план действий в любой ситуации.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  -->
    <div class="col-sm-7 px-5 my-5">
       <div class="col-12">
        <div class="fs-4 lead">
        <p1>Наша компания предоставляет профессиональные услуги юриста:</p>
        <ul class="mx-5">
          <li>юридическим лицам всех форм собственности</li>
          <li>индивидуальным предпринимателям</li>
          <li>физическим лицам</li>
        </ul>
<!--
        <div class="input-group rounded" >
          <input type="search" class="form-control rounded" placeholder="Поиск по юридическим услугам" aria-label="Search" aria-describedby="search-addon"  />
          <span class="input-group-text border-0" id="search-addon">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#ff4917" class="bi bi-search" viewBox="0 0 16 16" style="margin-bottom: 5px;">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
          </span>
        </div>
-->
        <div class="d-flex my-5">
          <input class="form-control me-2" type="search" placeholder="Поиск по юридическим услугам" aria-label="Search" style="height: 45px;">
          <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#ff4917" class="bi bi-search" viewBox="0 0 16 16" style="margin-bottom: 5px;">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg></a>
        </div>
        <div class="">
          
        </div>
        <a href="/Novaciapravo/default/services"><button class="btn btn-primary my-3" type="button">Полный список</button></a>
      </div>
    </div>
    </div>
  </div>
    </div>  
          <!--Кнопка должна переводить на страницу с услугами-->
        <!--<button class="btn btn-primary my-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">Полный список</button>-->
        
  </div>
  <div class="bg-dark text-secondary  py-5 text-left text-white" style="background-image: url('');">
    <div class="container py-5">
    <div class="accordion" id="accordionPanelsStayOpen">
  <div class="accordion-item bg bg-dark">
    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
      <button class="accordion-button bg-dark text-white border-top" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
        <span class="display-5">Юридическая компания</span>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
      <div class="accordion-body">
        Сотрудники <strong>Юридической компании «Новация»</strong> оказывают гражданам и компаниям (ИП, ООО и др.) в Казани квалифицированную юридическую помощь в широком правовом спектре. <br>

        С одинаковой долей ответственности даем консультации по несложным вопросам покупки и продажи недвижимости. Возьмемся за сопровождение непростой многоступенчатой сделки регистрации права собственности на квартиру, офис, землю или дом, освободив вас от общения с государственными служащими и представителями противоположной стороны. Предлагаем юридические услуги высочайшего класса физическим и юридическим лицам. Профессионально, грамотно, с перевесом в вашу пользу организуем защиту прав вашей организации в суде. Решим массу других задач, лежащих в рамках российского Законодательства. <br> 
      </div>
    </div>
  </div>
  <div class="accordion-item bg-dark">
    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
      <button class="accordion-button bg-dark text-white border-top collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
         <span class="display-5">Ваши гарантии</span>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
      <div class="accordion-body">
        <strong>Мы гарантируем</strong>, что каждый клиент получит тот результат, на который был нацелен при обращении в фирму, потому что:
        <ul>
          <li>в компании работают высококвалифицированные сотрудники с богатой юридической практикой;</li>
          <li>каждый работник фирмы оказывает юридические услуги в своем направлении. Детализированный подход увеличивает эффективность, сокращает сроки;</li>
          <li>безусловная конфиденциальность;</li>
          <li>используем индивидуальный подход, основанный на выработке уникальной стратегии;</li>
          <li>предлагаем лучшую цену на все виды юридической помощи.</li>
        </ul>
        <p>Стоимость услуг зависит от сложности доверенного нам дела: ознакомиться с тарифами можно на сайте компании или по телефону.</p>
      </div>
    </div>
  </div>
  <div class="accordion-item bg-dark">
    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
      <button class="accordion-button bg-dark text-white border-top border-bottom collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
         <span class="display-5">Ваша выгода в наших юридических услугах</span>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
      <div class="accordion-body">
        <strong>Мы превратим ваши расходы на юридические услуги в сэкономленные средства и время.</strong>
        <p>Услуги юриста сэкономят невосполнимый ресурс – время <br>Грамотный человек может изучить юридическую литературу и составить претензию с исковым заявлением. Но он вряд ли сделает это быстро. Он может не учесть профессиональные нюансы. Помощь профессионала ускорит процесс.</p>
          <p>Есть сложные случаи, когда требуются: юридический анализ договоров, проведение экспертиз, обжалования действий судебных органов <br> Эти процедуры может осуществить только юрист с опытом в соответствующей области права.</p>
          <p>Гражданин вправе требовать не только возмещение прямых убытков от приобретения некачественного или небезопасного товара, но и взыскивать моральный ущерб. <br> Обосновать моральный вред тоже убедительнее получается у профессионалов.</p>
          <p>Защита в суде может оказаться бесплатной для потребителя, ведь стоимость юридической помощи реально взыскать с виновной стороны</p>
      </div>
    </div>
  </div>
</div>
</div>

  </div>
    <div class="d-grid gap-2 col-12 mx-auto">
     <button class="btn btn-primary" id="btn-services" type="button" style="height: 120px;">
      <div class="d-flex justify-content-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-file-earmark-arrow-down-fill" viewBox="0 0 16 16" style="margin-top: 10px; margin-right: 10px;">
          <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zm-1 4v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 11.293V7.5a.5.5 0 0 1 1 0z"/>
        </svg>
        <div class="d-flex-column">
          <p class="float-start my-0">Скачать брошюру</p><br>
          <h3>Юридическая практика ЮК «Новация»</h3> 
        </div>
      </div>
      
     </button>
    </div>
    <!--Section: Contact v.2-->
    <div class="container">
<section class="mb-4">

    <!--Section heading-->
    <h2 id="block-heading" class="h1-responsive font-weight-bold display-5 fw-bold my-5">Свяжитесь с нами!</h2>
    <!--Section description-->
    <p class="w-responsive mx-auto lead mb-5">У Вас есть вопросы? Можете задать их нам <br>Отвечаем в день обращения</p>

    <div class="row">

        <!--Grid column-->
        <div class="col-md-9 mb-md-0 mb-5">
            <form action="#" enctype="multipart/form-data" method="post">

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="name" name="l_name" class="form-control">
                            <label for="name" class="">Ваше Имя</label>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="_email" name="email" class="form-control">
                            <label for="_email" class="">Ваша Почта</label>
                        </div>
                    </div>
                    <!--Grid column-->

                </div>

                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-md-12">
                        <div class="md-form">
                            <textarea type="text" id="message" name="problem" rows="2" class="form-control md-textarea"></textarea>
                            <label for="message">Опишите ситуацию</label>
                        </div>
                    </div>
                </div>
                <!--Grid row-->

            
            <div class=" pt-5">
                <button class="btn btn-primary" type="submit">Отправить</button>
                
            </div>
            {{=BEAUTIFY(request.vars)}}
            </form>
           
        </div>
        <!--Grid column-->

        <!--Grid column-->




        </div>
        <!--Grid column-->
        <div class="row pt-5">
          <div class="col-12">
            <p class="text-muted small">Отправляя свой адрес электронной почты, вы подтверждаете, что ознакомились с Заявлением о конфиденциальности и даете согласие на обработку нами данных в соответствии с Заявлением о конфиденциальности. Вы можете в любое время отозвать свое согласие на обработку персональных данных, отправив нам сообщение по электронной почте.
            </p>
          </div>
        </div>
        <h5 class="lead text-center border-top fs-1">Либо</h1>
    </div>

    
        <!-- /.main__request--block -->
    </div>
</div>

</section>
</div>
<!--Section: Contact v.2-->

      
{{end}}
<!--
<div class="row">
  <div class="col-md-12">
    {{if 'message' in globals():}}
    <h2>{{=message}}</h2>
    <p class="lead">{{=T('How did you get here?')}}</p>
    <ol style="word-wrap:break-word;">
      <li>{{=T('You are successfully running web2py')}}</li>
      <li>{{=XML(T('You visited the url %s', A(request.env.path_info,_href=request.env.path_info)))}}</li>
      <li>{{=XML(T('Which called the function %s located in the file %s',
        (A(request.function+'()',_href='#'),
        A('web2py/applications/%(application)s/controllers/%(controller)s.py' % request,
        _href=URL('admin','default','peek', args=(request.application,'controllers',request.controller+'.py'))))))}}</li>
      <li>{{=XML(T('The output of the file is a dictionary that was rendered by the view %s',
        A('web2py/applications/%(application)s/views/%(controller)s/index.html' % request,
        _href=URL('admin','default','peek',args=(request.application,'views',request.controller,'index.html')))))}}</li>
      <li>{{=T('You can modify this application and adapt it to your needs')}}</li>
    </ol>
    <div class="jumbotron jumbotron-fluid" style="padding:30px;word-wrap:break-word;">
      <div class="container center">
        <a class="btn btn-primary" href="{{=URL('admin','default','index')}}">
          <i class="fa fa-cog"></i>
          {{=T("admin")}}
        </a>
        <a class="btn btn-secondary" href="{{=URL('examples','default','index')}}">{{=T("Online examples")}}</a>
        <a class="btn btn-secondary" href="http://web2py.com">web2py.com</a>
        <a class="btn btn-secondary" href="http://web2py.com/book">{{=T('Documentation')}}</a>
        <a class="btn btn-secondary" href="{{=URL('default','api_get_user_email')}}">{{=T('API Example')}}</a>
        <a class="btn btn-secondary" href="{{=URL('default','grid/auth_user')}}">{{=T('Grid Example')}}</a>
        <a class="btn btn-secondary" href="{{=URL('default','wiki')}}">{{=T('Wiki Example')}}</a>
      </div>
    </div>
    {{elif 'content' in globals():}}
    {{=content}}
    {{else:}}
    {{=BEAUTIFY(response._vars)}}
    {{pass}}
  </div>
</div>

-->

<!-- Modal-Phone -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content p-3">
      <div class="modal-header">
        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
</svg>
        <h5 class="modal-title px-3" id="myModalLabel">Заявка успешно отправлена</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Спасибо за доверие!</p>
        <p>Мы свяжемся с Вами в ближайшее время.<br>Ожидайте звонка с номера 8(917)937-77-37</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary float-start" data-bs-dismiss="modal">Закрыть</button>
        
      </div>
    </div>
  </div>
</div>

<script>
<script>
jQuery('#myform').submit(function() {
  ajax('{{=URL('new_client')}}', 
    '#myform', 'target');
  return false;
});
</script>
</script>