{{extend 'layout.html'}}

{{block header}}

<div class="bg-dark py-5">
        <div class="container">
        	<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item"><a class="text-muted" style="text-decoration: none;" href="/Novaciapravo/default/index">Главная</a></li>
			    <li class="breadcrumb-item active" aria-current="page">Услуги</li>
			  </ol>
			</nav>
          <h1 id="block-heading" class="display-5 fw-bold mb-5 text-white">Юридические услуги</h1>
        
        <div class="input-group rounded mb-5">
		  <input type="search" class="form-control rounded" placeholder="Поиск по юридическим услугам" aria-label="Search" aria-describedby="search-addon" />
		  <span class="input-group-text border-0 bg-dark" id="search-addon">
		    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="#ff4917" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
		  </span>
		</div>
        </div>
</div>

			<div class="container my-5">
				<div class="row">
					<div class="col-sm-4">
						<div id="service-item" class="mt-2 border-top">
							<h4 class="fs-4 mb-4">Выписки, договора, заключения</h4>
							<ul class="list-unstyled">
								<li class="mb-2">
									<a href="/Novaciapravo/default/vipiska_egrul" class="lead text-muted" style="text-decoration: none;">Получение выписки из ЕГРЮЛ в Казани</a>
								</li>
								<li class="mb-2">
									<a href="/Novaciapravo/default/vipiska_egrn" class="lead text-muted" style="text-decoration: none;">Выписка из ЕГРН в Казани</a>
								</li>
								<li class="mb-2">
									<a href="/Novaciapravo/default/grazdanskie_dogovory" class="lead text-muted" style="text-decoration: none;">Гражданско-правовые договоры в Казани</a>
								</li>
							</ul>
						</div>
						<div id="service-item" class="mt-2 border-top">
							<h4 class="fs-4 mb-4">Консультационные услуги</h4>
							<ul class="list-unstyled">
								<li class="mb-2">
									<a href="/Novaciapravo/default/podgotovka_juridicheskih_documentov" class="lead text-muted" style="text-decoration: none;">Подготовка юридических документов в Казани</a>
								</li>
								<li class="mb-2">
									<a href="/Novaciapravo/default/pismennaya_konsultacia" class="lead text-muted" style="text-decoration: none;">Письменная консультация юриста в Казани</a>
								</li>
								
								<li class="mb-2">
									<a href="/Novaciapravo/default/yuridicheskaya_ekspertiza" class="lead text-muted" style="text-decoration: none;">Юридическая экспертиза документов</a>
								</li>
							</ul>
						</div>
						<div id="service-item" class="mt-2 border-top">
							<h4 class="fs-4 mb-4">Услуги Фирмам</h4>
							<ul class="list-unstyled">
								<li class="mb-2">
									<a href="/Novaciapravo/default/oznakomlenie_s_materialamy" class="lead text-muted" style="text-decoration: none;">Ознакомление с материалами дела</a>
								</li>
								<li class="mb-2">
									<a href="/Novaciapravo/default/" class="lead text-muted" style="text-decoration: none;">Лизинговый юрист в Казани</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
						<div id="service-item" class="mt-2 border-top">
							<h4 class="fs-4 mb-4">Помощь Юриста</h4>
							<ul class="list-unstyled">
								<li class="mb-2">
									<a href="/Novaciapravo/default/" class="lead text-muted" style="text-decoration: none;">Первичная консультация юриста в Казани</a>
								</li>
								<li class="mb-2">
									<a href="/Novaciapravo/default/" class="lead text-muted" style="text-decoration: none;">Юрист по гражданским делам в Казани</a>
								</li>
								<li class="mb-2">
									<a href="/Novaciapravo/default/zashhita_prav_potrebitelej" class="lead text-muted" style="text-decoration: none;">Юрист по защите прав потребителей в Казани</a>
								</li>
								<li class="mb-2">
									<a href="/Novaciapravo/default/" class="lead text-muted" style="text-decoration: none;">Трудовой юрист в Казани</a>
								</li>
								<li class="mb-2">
									<a href="/Novaciapravo/default/" class="lead text-muted" style="text-decoration: none;">Семейный юрист в Казани</a>
								</li>
								<li class="mb-2">
									<a href="/Novaciapravo/default/" class="lead text-muted" style="text-decoration: none;">Кредитный юрист в Казани</a>
								</li>
								<li class="mb-2">
									<a href="/Novaciapravo/default/" class="lead text-muted" style="text-decoration: none;">Юрист по жилищным вопросам в Казани</a>
								</li>
								<li class="mb-2">
									<a href="/Novaciapravo/default/" class="lead text-muted" style="text-decoration: none;">Раздел совместно нажитого имущества в Казани</a>
								</li>
								<li class="mb-2">
									<a href="/Novaciapravo/default/" class="lead text-muted" style="text-decoration: none;">Юридические услуги по арбитражным делам в Казани</a>
								</li>
								<li class="mb-2">
									<a href="/Novaciapravo/default/" class="lead text-muted" style="text-decoration: none;">Представление интересов в гос. органах</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
						<div id="service-item" class="mt-2 border-top">
							<h4 class="fs-4 mb-4">Услуги по Банкротным Делам</h4>
							<ul class="list-unstyled">
								<li class="mb-2">
									<a href="/Novaciapravo/default/" class="lead text-muted" style="text-decoration: none;">Консультация банкротного юриста в Казани</a>
								</li>
								<li class="mb-2">
									<a href="/Novaciapravo/default/" class="lead text-muted" style="text-decoration: none;">Введение процедуры банкротства в Казани</a>
								</li>
								<li class="mb-2">
									<a href="/Novaciapravo/default/" class="lead text-muted" style="text-decoration: none;">Представление интереса должника в процедуре банкротства</a>
								</li>
								<li class="mb-2">
									<a href="/Novaciapravo/default/" class="lead text-muted" style="text-decoration: none;">Представление интереса организаций в процедуре банкротства</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>


  {{end}}