{{extend 'layout_light.html'}}

<div class="d-flex justify-content-center py-5 border-top">
	<div class="text-center">
		<img src="/Novaciapravo/static/images/check.svg" class="mb-5" style="width: 56px; height: 56px;">
		<h1>Спасибо за вашу заявку!</h1>
		<p class="text-muted mb-5">Ваш юрист скоро с вами свяжется</p>
		<a href="index"><button type="button" class="btn btn-primary" data-bs-toggle="modal" style="width: 300px; border-radius: 30px;">Вернуться на главную страницу</button></a>
	</div>
</div>
<div style="height: 150px;">
	
</div>