{{extend 'layout_light.html'}}

<div class="d-flex justify-content-center py-5 border-top">
	<div class="text-center">
		<img src="/Novaciapravo/static/images/check.svg" class="mb-5" style="width: 56px; height: 56px;">
		<h1>Ваша отзыв успешно получен</h1>
		<p class="text-muted">Большое спасибо за обратную связь! <br> Ознакомиться со своим отзывом Вы можете по ссылке ниже</p>
		<a href="/Novaciapravo/default/reviews">Проверить отзыв</a>
		<p class="text-muted small">"Будет последним в списке"</p>
	</div>
</div>
<div style="height: 150px;">
	
</div>