*{
	box-sizing: border-box; margin: 0}
body {
	height: 100%; overflow-x: hidden; font-family: sheriff}


/** these MUST stay **/
a {text-decoration:none; white-space:nowrap}
a:hover {text-decoration:underline}
a.button {text-decoration:none}
h1,h2,h3,h4,h5,h6 {display:block;}
h1 {font-size:2.00em}
h2 {font-size:1.80em}
h3 {font-size:1.50em}
h4 {font-size:1.50em}
h5 {font-size:1.25em}
h6 {font-size:1.12em}
th,label {font-weight:bold; white-space:nowrap;}
td,th {text-align:left; padding:2px 5px 2px 5px}
th {vertical-align:middle; border-right:1px solid white}
td {vertical-align:top}
form table tr td label {text-align:left}
p,table,ol,ul {padding:0; margin: 0.75em 0}
p {text-align:justify}
ol, ul {list-style-position:outside; margin-left:2em}

span,input,select,textarea,button,label,a {display:inline}
img {border:0}
blockquote,blockquote p,p blockquote {
  font-style:italic; margin:0.5em 30px 0.5em 30px; font-size:0.9em}
i,em {font-style:italic}
strong {font-weight:bold}
small {font-size:0.8em}
code {font-family:Courier}
textarea {width:100%}
video {width:400px}
audio {width:200px}
[type="text"], [type="password"], select {
  margin-right: 5px; width: 300px;
}
.w2p_hidden {display:none;visibility:visible}
.right {float:right; text-align:right}
.left {float:left; text-align:left}
.center {width:100%; text-align:center; vertical-align:middle}
/** end **/


#nav {
	background-color: White;
	z-index: 2;
	display: block;
	position: sticky;
	transition: 0.3s;
}
.my-top-bar {
	display: flex;
	height: 90px;
	padding-left: 15%;
	padding-right: 15%;
	justify-content: space-between;
	border-bottom: 1px solid LightGrey;
}
.top-bar-left {
	padding-top: 35px;	
}
.top-bar-right {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
}
.drop-down-trigger {
	background: transparent;
	border-radius: 4px;
	cursor: pointer;

	position: relative;
	margin: 0;
	border: 0;
	border-radius: 0;
	height: 100%;
	padding-right: 10px;
	padding-top: 25%;
	display: inline-flex;
	outline: none;
}
.bar-1, .bar-2, .bar-3 {
	display: block;
	position: relative;
	width: 30px;
	height: 3px;
	background-color: Black;
	margin: 6px;
	border: 0;
	left: 0;
	transition: 0.4s;
}
.change .bar-1 {
	transform: rotate(-45deg) translate(-5px, 5px);
}
.change .bar-2 {opacity: 0;}
.change .bar-3 {
	transform: rotate(45deg) translate(-8px, -8px);
}
.menu-title {
	margin-top: 8px;
	font-size: 3.2vm;
}
.overlay {
	height: 0%;
	width: 100%;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	background-color: LightGrey;
	overflow-x: hidden;
	transition: 0.4s;

}
.overlay-content {
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;
	margin-top: 30px;
	overflow: hidden;
	
}
.overlay a {
	display: block; 
	padding: 24px;
	text-decoration: none;
	font-size: 26px;
	color: #2d2d2d;	
	transition: 0.3s;
}

.overlay a:hover {
	font-size: 32px;
}

.my-top-contacts {
	background-color: White;
	width: 100%;
	display: inline-flex;
	justify-content: flex-end;
	padding: 15px;
	padding-right: 7.1%;
	border-bottom: 3px solid rgba(10,10,10,0.2);
	
}
.my-top-contacts p {
	margin-right: 40px;
}
.my-header {
	display: block;
	overflow: hidden;
	font-size: 24px;
	height: 520px;

	
	background-position: center;
	background-size: cover;
}
.my-header-text {
	position: absolute;
	max-width: 900px;
	max-height: 60px;
	top: 5%;
	left: 14.5%;
	text-align: center;
	color: White;
	background-color: #2d2d2d;

}
.my-header-subtext {
	max-width: 450px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;	
	background-color: #2d2d2d;
}
.pre-main {
	background-color: #e0301e;

}

.post-header-button {
	display: block;
	position: relative;
	height: 64px;
	width: 100%;
	margin:0;
	border:0;
	background-color: transparent;
	color: White;
	font-size: 24px;
	text-decoration: none;
	cursor: pointer;
}
.pre-main-text {
	float: left;
	margin-left: 20%;
	padding-left: 15px;
	font-size: 26px;
}
.pre-main-text i {
	padding-left: 10px;
	padding-top: 2px;
	transition: 0.3s;
}

.pre-main:hover {
	background-color: #a8190a;
}
.pre-main:hover > button > div > span > i {
	padding-left: 60px;
}

.main-1 {
	background-color: #f2f2f2;
	display: block;
	padding-bottom: 160px;
	height: 100%;
}
.main-2 {
	background-color: #2d2d2d;
	display: block;
	padding-bottom: 160px;
	height: 460px;
}
.main-3 {
	background-color: #f2f2f2;
	display: block;
	padding-bottom: 80px;
	height: 100%;
}

.mobile {
	visibility: hidden;
	height: 0;
}

.content {
	margin-left: 14.5%;
	margin-right: 14.5%;
	padding-top: 45px;
	font-size: 21px;
	text-align: justify;
}

.header {
	padding-top: 8px;
	font-size: 32px;
}

.info p {
	padding-top: 20px;

}

.info-list {
	margin: 10px;

}

.info-list li {
	list-style: square;
	padding: 5px;
}

.header-main-2 {
	color: White;
	border-top: 2px solid #e0301e;
}

.info-main-2 {
	display: inline-flex;
	color: White;
	padding-top: 20px;

}
.right-info-main-2 {
	flex: 2;	

}

.right-info-main-2 p {
	padding-left: 30px;
}

.left-info-main-2 {
	flex: 1;
	border-right: 2px solid LightGrey;

}
.inf {
	display: block;
	list-style-type: none;
	font-size: 26px;
	background-color: transparent;
	margin-left: -10%;
}
.left-info-main-2 button {
	text-align: left;
	outline: none;
	
}

.inf:hover {
	background-color: White;
}
.inf:hover > button {
	color: #e0301e;

}

.active-selection {
	background-color: #e0301e;
	display: block;
	list-style-type: none;
	font-size: 32px;
	margin-left: -10%;
}

.featured-wrapper {
	
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;	
	grid-gap: 45px;
	padding-top: 20px;
	padding-bottom: 60px;
}
.feature > a {
	text-decoration: none;
	color: Black;
}

.pic {
	box-shadow: 0 0 0 2px rgba(0,0,0,0.2);
}

.article-link{
	padding-top: 20px;
	text-decoration: none;
	color: Black;
}

.feature-date {
	color: #7d7d7d;
}

.view-all-button {
	background-color: transparent;
	border: 1px solid #7d7d7d;
	width: 160px;
	margin: auto;
	color: Black;
	transition: 0.3s;
}

.view-all-button:hover {
	background-color: #e0301e;
	color: White;
}

.feature:hover  .article-link {
	color: #e0301e;
}
.pre-footer {
	display: flex;
	background-color:  #2d2d2d;
	color: White;
	height: 80px;
	justify-content: center;
}

.pre-footer > h2 {
	padding-top: 23px;
	font-size: 28px;
}
.pre-footer > div {
	font-size: 32px;
	padding-left: 10px;
	padding-top: 21px;
}
.pre-footer > div > a {
	padding-left: 10px;
	color: White;
}

.pre-footer > div > a:hover {
	color: #e0301e;
}

.contact-form {
	display: block;
	padding-bottom: 80px;
	
}

.header-contact-form {
	border-top: 2px solid #e0301e;
	color: #DC143C;
}

.contact-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
	padding-top: 20px;
}

form {
	display: grid;

	grid-template-rows: 1fr;

	grid-gap: 20px;
	padding-right: 40px;

}

.pair {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

input[type=text], select, textarea {
	padding: 8px;
	border: 1px solid LightGrey;
	border-radius: 4px;
	font-size: 18px;


}

.text-1 {
	width: 100%;
	display: flex;
	flex-direction: column;
	text-align: left;
	
}
.text-1 > label {
	padding-bottom: 15px;
}

textarea {
	resize: vertical;
	min-height: 45px;
}

.disclaimer {
	font-size: 15px;
	padding-top: 40px;
}

.submit-1 {
	padding-top: 40px;
}

.submit-button {
	height: 48px;
	width: 136px;
	margin:0;
	border:0;
	background-color: #e0301e;
	color: White;
	font-size: 21px;
	text-decoration: none;
	cursor: pointer;
	transition: 0.3s;

}

.submit-button:hover {
	background-color: #a8190a;
}
.contact-face {
	display: flex;
}

.contact-face > div {
	padding-left: 10px;

}

.contact-face > div > a {
	text-decoration: none;
	color: #e0301e;
}

.contact-face > div > a:hover {
	text-decoration: underline;
}

.my-footer{
	background-color: #404041;
	color: White;
	text-align: center;
	font-size: 18px;
	padding: 15px;
	height: 160px;
}

.scroll-up-button {
	float: right;
	padding-right: 5%;
	padding-top: 10px;
}

.scroll-up-button > button {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	margin:0;
	border:0;
	background-color: #e0301e;
	text-decoration: none;
	cursor: pointer;
	outline: none;
	transition: 0.3s;
}

.scroll-up-button > button > i {
	color: White;
	font-size: 28px;
}

.scroll-up-button > button:hover {
	box-shadow: 0px 0px 10px LightGrey;
}


nav {
	background-color: #2d2d2d;
	position: relative;
	display: flex;
	color: White;
	width: 100%;
	height: 100%;
	font-size: 18px;
	padding-left: 13.5%;

}

.drop-down {
	padding: 10px;
	padding-right: 0;
	border-bottom: 5px solid transparent;
}

nav a {
	color: White;
	border-bottom: 5px solid transparent;
	text-decoration: none;
	text-align: center;
	width: 13%;
	padding: 10px;
	user-select: none;
	cursor: pointer;
}

 nav i {
 	padding-left: 15px;
 	font-size: 14px;

 }

#drop-down-menu-1 {
	position: absolute;
	display: none;
	flex-direction: column;
	width: 100%;
	top: 100%;
	left: 0;
	padding-left: 13%;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #2d2d2d;
	opacity: 0.98;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	border-top: 2px solid white;
	z-index: 1;
}

.dim-wrapper {
	position: relative;
	left: 0;
	transition: 0.3s;
}

#drop-down-menu-1 ul {
	margin-left: -21px;
}


#drop-down-menu-1 li {
	list-style: none;
	padding: 10px;
}

#drop-down-menu-1 a {
	border-bottom: 2px solid transparent;
	padding: 0;
}

nav a:hover {
	border-bottom: 5px solid white;
}


#drop-down-menu-1 a:hover {
	border-bottom: 2px solid white;	
}

.drop-down-trigger:hover {
	background-color: #F0F8FF;
	background-blend-mode: soft-light;
}

.article-header {
	background-color: #e0301e;
	height: 200px;
}

.contacts {
	display: grid;
	padding-top: 60px;
	padding-bottom: 60px;
	
	
	grid-template-columns: 3fr 1fr; 

	background-color: #f2f2f2;
}

.contacts > div > img {
	margin-left: 19.4%;

	border-left: 5px solid #e0301e;

}

.follow-contacts {
	display: grid;
	grid-template-rows: 1fr 1fr;
}

.follow-contacts > div > a {
	padding-left: 10px;
	color: black;
	font-size: 31px;
}

.follow-contacts > div > a:hover {
	color: #e0301e;
}

