<!DOCTYPE html>
<html>
  <head>
    <!--Start of Meta Information-->
    <title>IP Law</title>
    {{response.files.append(URL('static','css/web2py-bootstrap4.css'))}}
    {{include 'web2py_ajax.html'}}
    {{extend 'layout.html'}}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  </head>
    <!--End of Meta Information-->
  <body>

  <!--Start of the first info block-->
  <div id="D" class="dim-wrapper">
    <div class="my-header">
      <div class="my-header-text">
        <header><h1>Some Important Information Goes Here</h1></header>
        <div class="my-header-subtext"> 
          <p>Some Additional Information Goes Here</p>
        </div>
      </div>
    </div>
    <div class="pre-main">
      <button id="contacts-button" class="post-header-button">
        <div class="pre-main-text">
          <span>Get in Contact With Us <i class="fas fa-chevron-right"></i> </span>
        </div>
      </button>
    </div>
    <!--End of the first info block-->
    <h1>Mobile</h1>

    <!--Start of the second info block-->
    <div class="main-1">
      <div class="content content-main-1">
        <div class="header header-main-1"><h3>First Panel</h3></div>
        <div class="info info-main-1">
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In efficitur dapibus fermentum. Praesent at urna vel tellus dignissim hendrerit. Cras vitae feugiat arcu, vitae malesuada turpis. Morbi suscipit placerat nulla, sit amet facilisis augue hendrerit venenatis. Integer ornare aliquam scelerisque. Integer at velit sed augue laoreet dignissim ornare vel risus. In tristique massa in eros consectetur iaculis. Duis eget imperdiet tellus. Duis in purus ac neque pharetra pretium. Fusce nisi nisi, semper sit amet felis non, maximus luctus enim. Nunc non orci malesuada magna varius viverra sed at purus. Nullam sagittis ligula nec mattis porttitor. Aenean pretium pretium dui, a consequat arcu luctus eget. Suspendisse turpis neque, tincidunt a dapibus eget, lacinia nec arcu. Duis justo dui, facilisis sit amet vulputate a, porttitor vitae nunc.</p>

          <p>Vestibulum et ultricies tortor, vitae placerat ex. Sed in lorem quam. Nullam at mollis enim. Etiam dapibus, justo sagittis volutpat tempor, massa lacus dapibus nunc, at tempor dui mauris at orci. Donec hendrerit neque at tincidunt varius. Cras tempus diam ex, ut consequat metus suscipit laoreet. Fusce at tellus nec tellus finibus lacinia. Cras at volutpat sapien, quis tristique velit. Fusce vel semper eros. Donec venenatis ex ex, in sodales arcu commodo nec. Cras ac lacus dolor. Etiam ullamcorper, nunc at accumsan tincidunt, sapien urna scelerisque dui, eget euismod urna erat ac risus.</p>
        </div>
      </div>
    </div>
    <!--End of the second info block-->

    <!--Start of the third info block-->
    <div class="main-2">
      <div class="mobile content content-mobile">
        <div class="mobile header header-mobile"><h3>Second Panel</h3></div>
        <div class="mobile info info-mobile">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In efficitur dapibus fermentum. Praesent at urna vel tellus dignissim hendrerit. Cras vitae feugiat arcu, vitae malesuada turpis. Morbi suscipit placerat nulla, sit amet facilisis augue hendrerit venenatis. Integer ornare aliquam scelerisque. Integer at velit sed augue laoreet dignissim ornare vel risus. In tristique massa in eros consectetur iaculis.</p>
        </div>
      </div>
      <div class="nonmobile content content-main-2">
        <div class="nonmobile header header-main-2"><h3>Second Panel</h3></div>
        <div class="nonmobile info-main-2">
          <div class="info left-info-main-2">
            <ul>
              <li id="info-1" class="active-selection"><button class="post-header-button" onclick="changeText(1)">Civil</button></li>
              <li id="info-2" class="inf info-2"><button class="post-header-button" onclick="changeText(2)">Arbitration</button></li>
            </ul>
          </div>

          <div class="right-info-main-2">
            <p id="textbox">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In efficitur dapibus fermentum. Praesent at urna vel tellus dignissim hendrerit. Cras vitae feugiat arcu, vitae malesuada turpis. Morbi suscipit placerat nulla, sit amet facilisis augue hendrerit venenatis. Integer ornare aliquam scelerisque. Integer at velit sed augue laoreet dignissim ornare vel risus. In tristique massa in eros consectetur iaculis.</p>
          </div>
        </div>
      </div>
    </div>
    <!--End of the third info block-->

    <!--Start of the fourth info block-->
    <div class="main-3">
      <div class="content content-main-3">
        <div class="header header-main-3"><h3>Featured Articles</h3></div>
        <div class="featured-wrapper">
          <div class="feature">
            <a></a>
              <img class='pic' height="230" width="420">
              <div>
                <h2 class="article-link">a</h2>
                <p>text</p>
                <p class="feature-date"></p>
              </div>
            </a>
          </div>
        </div>
        <button class="post-header-button view-all-button" onclick="window.location.href='#'">View all</button>
      </div>
    </div>
     <!--End of the fourth info block-->

      <!--Pre-footer block-->
    <div class="pre-footer">
      <h2>Follow Us</h2>
      <div class="links">
        <a target="_blank" rel="noopener noreferrer" href="https://vk.com/acceptance_kzn"><i class="fab fa-vk"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
      <!--End of the Pre-footer block-->

    <!--Start of the Contacts info block-->
    <div id="contact-form" class="content contact-form">
      <div class="header header-contact-form">Contact Firm Name</div>
      <div class="contact-container">
        <form>
          <div class="pair pair-1">
            <label for="fname">Full Name (mandatory)</label>  
            <input type="text" id="fname" name="fullname">
          </div>
          <div class="pair pair-2">
            <label for="subject">What can we help with you? (mandatory)</label>
            <select id="subject" name="subject">
              <option value="Civil">Civil</option>
              <option value="Arbitration">Arbitration</option>
            </select> 
          </div>
          <div class="pair pair-3">
            <label for="contact-type">Your prefered method of contact</label> 
            <select id="send-contact-type" name="type">
              <option value="phone">Phone</option>
              <option value="email">Email</option>
            </select>
          </div>
          <div class="pair pair-4">
            <label id="phone-email-label" for="phone">Phone (mandatory)</label>
            <input id="phone-email-input" type="text" name="phone"  pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" required>
          </div>
          <div class="text-1">
            <label for="additions">Further details regarding your enquiry (mandatory)</label>
            <textarea id="additions" name="additions"></textarea>
          </div>
        </form>
        <div class="contact-face">
          <img src="{% static '_app/images/face-1.png' %}" width="105" height="100">
          <div>
            <h3>Joseph Anderson</h3>
            <p>Junior Partner N&P</p>
            <a href="#">Email</a>
          </div>
        </div>
        <div class="disclaimer">
          <p>By submitting your email address, you acknowledge that you have read the Privacy Statement and that you consent to our processing data in accordance with the Privacy Statement (including international transfers). If you change your mind at any time about wishing to receive the information from us, you can send us an email message using the Contact Us page.</p>
        </div>
      </div>
      <div class="submit-1">
        <button class="submit-button">Submit</button>
      </div>
    </div>
    <!--End of the Contacts info block-->

    </div>
  </body>
</html>